@media (max-width : 600px){
    #recetteRandom{
        font-size: smaller;
        width: 30%;
    }
    #homeCard{
        
        font-size: smaller;
        width: 60%;
    }
    .card{
        position: relative;
        left: -40px;
    }
    .form input{
        width: 30%;
        font-size: x-small;
    }
    .form label{
        font-size: x-small;
    }
    .option{
        font-size: x-small;
    }
    .input-group-text{
        font-size: x-small;
    }
}
@media (min-width : 700px){
    #homeCard{
        
        font-size: smaller;
        width: 60%;
    }
    .card{
        position: relative;
        left: -80px;
    }
    .input-group-text{
        font-size: x-small;
    }
    .form input{
        width: 30%;
        font-size: x-small;
    }
    .form label{
        font-size: x-small;
    }
}
body{
    background: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#navHeader{
    background-color: darkseagreen;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
}
#homeIcon{
    width: 2%;
    border-radius: 40%;
    
}
#navHeader a{
   margin-left: 3%;
   margin-right: 3%;
   text-decoration: none;
   color: black;
   font-weight: bold;
}
#navHeader a:hover{
    background-color: bisque;
}
#navIcon:hover img{
    width: 3%;
}
#recetteRandom{
    text-align: center;
    background-color: darkseagreen;
    width: 17%;
    margin-left: 43%;
    margin-right: 15%;
    margin-bottom: 2%;
    border: 2px solid black;
}
#recetteRandom a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#recetteRandom a:hover{
    background-color: bisque;
}
#edito{
    background-color: darkseagreen;
    color: black;
    width: 50%;
    margin-left: 27%;
    padding: 3%;
    border: 2px solid black;
}
#edito h3{
    text-align: center;
}
#homeCard{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 33%;
    margin-bottom: 2%;
}
.card{
    background-color: darkseagreen;
    margin-right: 2%;
    color: black;
    font-weight: bold;
}
.list-group-item{
    background-color: darkseagreen;
}
.list-group-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.list-group-item a:hover{
    background-color: bisque;
}
#principe{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-style: italic;
    background-color: darkseagreen;
    width: 30%;
    margin-left: 37%;
}
#footerNav{
    background-color: darkseagreen;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
}
#footerNav a{
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#footerNav a:hover{
    background-color: bisque;
}
.list{
    background-color: darkseagreen;
    color: black;
    width: 50%;
    margin-left: 27%;
    padding: 3%;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
.list p{
    font-style: italic;
}
.recipePic{
    width: 30%;
    margin-left: 5%;
    border-radius: 10%;
    border: 2px solid black;
}
.list a:hover img{
    width: 33%;
}
.recipeTitle{
    background-color: darkseagreen;
    width: 30%;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-left: 35%;
    border: 2px solid black;
    border-radius: 10%;
}
.recipe{
    width: 60%;
    margin-left: 5%;
    border-radius: 10%;
    border: 2px solid black;
}
.recipeImage{
    background-color: darkseagreen;
    color: black;
    width: 50%;
    margin-left: 25%;
    padding: 3%;
    border: 2px solid black;
   text-align: center;
    font-weight: bold;
}
.food{
    background-color: darkseagreen;
    color: black;
    width: 50%;
    margin-left: 25%;
    padding: 3%;
    border: 2px solid black;
   text-align: center;
    font-weight: bold;
  
}
.step{
    background-color: darkseagreen;
    color: black;
    width: 50%;
    margin-left: 25%;
    padding: 3%;
    border: 2px solid black;
   text-align: center;
    font-weight: bold;
}
.form{
    background-color: darkseagreen;
    color: black;
    width: 50%;
    margin-left: 25%;
    padding: 3%;
    border: 2px solid black;
   text-align: center;
    font-weight: bold;
}